.about {
  color: white;
}

.herogrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 0;
}
.playground {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 5px;
}
.playground[data-show="true"] {
  height: 600px;
  grid-column: span 2;
}
.playground[data-show="false"] {
  height: 300px;
  grid-column: span 1;
}

.member {
  background-color: var(--green-2);
  height: 300px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.member::before {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  border-radius: 5px;
}
.member[data-member="dylan"]::before {
  background-image: url("../../public/images/about/dylan.jpg");
}
.member[data-member="david"]::before {
  background-image: url("../../public/images/about/david.png");
}
.member[data-member="vincent"]::before {
  background-image: url("../../public/images/about/vincent.png");
}
.member[data-member="george"]::before {
  background-image: url("../../public/images/about/george.jpg");
}
.cardcontent {
  z-index: 5;
}

.cardfirstname,
.cardlastname {
  position: absolute;
  font-size: clamp(6rem, 10vw, 8rem);
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
  opacity: 0.2;
  pointer-events: none;
}
.cardfirstname {
  top: 0;
  left: 0;
}
.cardlastname {
  bottom: 0;
  right: 0;
}
.cardtextcontent {
  position: absolute;
  width: calc(100% - 60px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.3;
}

.output {
  position: relative;
  background: white;
  color: black;
  height: 300px;
  overflow: hidden;
}
.output[data-show="true"] {
  border-radius: 5px 0 0 5px;
}
.output[data-show="false"] {
  border-radius: 5px;
}
.output p {
  font-size: 16px;
}
.input {
  background: black;
  height: 300px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
@media (min-width: 768px) {
  .herogrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .playground[data-show="true"] {
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
  }
  .playground[data-show="false"] {
    height: 300px;
    grid-template-columns: repeat(1, 1fr);
  }
  .output {
    border-radius: 5px 0 0 5px;
  }
  .input {
    border-radius: 0 5px 5px 0;
  }
}
